sudo: required

services:
  - docker

language: node_js

script:
  - yarn run ci
  - yarn danger ci

after_success:
  - bithound check git@github.com:oleg-koval/ya-skeleton.git

node_js:
  - "8"
  - "10"

# Skip builds for tags
if: tag IS blank
